<div class="announcement-bar">
  {{ section.settings.announcement_text }}
</div>

<style>
  .announcement-bar {
    background-color: {{ section.settings.background_color }};
    color: {{section.settings.text_color}};
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
  }
</style>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "FREE UNITED KINGDOM SHIPPING $200 +"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Header"
    }
  ]
}
{% endschema %}
