{{ 'section-related-products.css' | asset_url | stylesheet_tag }}

<div class="product__recommendations">
  <div class="product__recommendations-header">
    <h3 class="product__recommendations-title">Recommended</h3>
    <a class="product__recommendations-toggle" href="#">
      <p class="product__recommendations-toggle-text">View All</p>
      <button class="metafields__toggle">
        <img
          src="{{ 'arrow.svg' | asset_url }}"
          alt="Toggle Button"
          width="24"
          height="24"
          class="metafields__icon"
          style="transform: rotate(180deg);"
        >
      </button>
    </a>
  </div>
  {% render 'separator' %}

  <div class="product__recommendations-list">
    <article class="product__recommendations-item">CARD</article>
    <article class="product__recommendations-item">CARD</article>
    <article class="product__recommendations-item">CARD</article>
    <article class="product__recommendations-item">CARD</article>
    <article class="product__recommendations-item">CARD</article>
  </div>

  <progress></progress>
</div>

{% if cart.item_count > 0 %}
  {% assign related_id = cart.items[0].product_id %}
{% else %}
  {% assign related_id = 7428300242987 %}
{% endif %}

<script>
  fetch(window.Shopify.routes.root + 'recommendations/products.json?product_id={{ related_id }}')
    .then((response) => response.json())
    .then(({ products }) => {
      console.log(products);

      // if (products.length > 0) {
      //   const firstRecommendedProduct = products[0];

      //   alert(`The title of the first recommended product is: ${firstRecommendedProduct.title}`);
      // }
    });
</script>

{% schema %}
{
  "name": "Related Products",
  "settings": [],
  "presets": [
    {
      "name": "Related Products"
    }
  ]
}
{% endschema %}
