
.contact-us__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;

  @media (min-width: 1000px) {
    gap: 40px;
  }
}

.contact-us__contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 27px;
  padding: 24px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.contact-us__contact-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-us__contact-label {
  font-weight: 700;
}
