/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  caret-color: #fff;
}

input,
button {
  border: none
}

button {
  cursor: pointer
}

/* Remove default padding and margin */
body,
h1, h2, h3, h4, h5, h6,
p, figure,
blockquote, dl, dd,
ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles on ul, ol elements with a class */
ul[class],
ol[class] {
  list-style: none;
}

/* Anchor defaults */
a {
  text-decoration: none;
  color: inherit;
}

/* Image and media */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Form elements inherit fonts */
input, button, textarea, select {
  font: inherit;
}

ul {
  list-style: none
}

/* Remove animations and transitions for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  all: unset;
}