@import './variables.css';

.footer {
  background-color: var(--color-bg-dark);
  color: #F1F1F1
}

.footer__container {
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 54.5px;
  padding-right: 54.5px;

  @media (min-width: 800px) {
  padding-bottom: 24px;
  }
}

.footer__top {
  display: flex;
  gap: 24px;
  flex-direction: column;
  
  @media (min-width: 800px) {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 56px
  }
}

.footer__top > .footer__column:last-of-type {
  padding-bottom: 30px
}

.footer__column-title {
  padding-bottom: 8px
}

.footer__column-subscription-title {
  padding-bottom: 16px
}

.footer__item {
  margin-bottom: 4px;

  @media (min-width: 800px) {
    margin-bottom: 8px;
  }
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__form {
    padding-bottom: 26px
}

.footer__socials {
  display: flex;
  gap: 16px
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 800px) {
    flex-direction: column;
    gap: 24px
  }
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E3E3E3;
}

.search-input {
  background: transparent;
  font-size: 14px;

  flex: 1;
}

.footer__form-button {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.footer__column-title,
.footer__column-subscription-title{
  color: #F1F1F1
}

.search-input::placeholder {
  color: #F1F1F1;
}