.section-pdp {
  max-width: 1600px;
  margin: 0 auto;
  width: 100vw;
}

.product {
  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 24px;
    padding-left: 56px;
    padding-right: 56px;
  }
  
  @media (min-width: 1300px) {
    display: grid;
    grid-template-columns: 0.52fr 0.48fr;
  }
}

.product__slider-wrapper {
  @media (min-width: 1000px) {
    display: none;
  }
}

.product__slider {
  position: relative;
  width: 100vw;
}

.product__slider-slide {
  width: 100vw;
  height: 475px;
  display: none;
}

.product__slider-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

.product__slider-slide.active {
  display: block;
}

.slider__arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}

.slider-arrow--prev {
  margin-left: 17px;
}

.slider-arrow--next {
  margin-right: 17px;
}

/* DOTS BELOW */

.slider__dots {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.slider__dot:hover {
  background-color: #999;
  transform: scale(1.2);
}

.slider__dot.active {
  background-color: #333;
}

/* Right part */

.product__data {
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 1000px) {
    padding: 32px 56px;
  }
}

.product__data-title {
  margin-top: 24px;
}

.hidden {
  display: none;
}

.product__data-prices {
  display: flex;
  align-items: end;
  gap: 8px;
  margin-top: 16px;
}

.product__data-prices-sale {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #9F1111;
}

.product__data-prices-compare {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  color: #605E5C;
  text-decoration: line-through;
}

.product__data-prices-regular {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #605E5C;
}

#product__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product__sizes-title {
  margin-bottom: 8px;
}

.product__sizes {
  display: flex;
  gap: 9px;
  flex-wrap: wrap;
}

.product__size {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.product__size-input {
  display: none;
}

.product__size-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;  
  text-decoration: capitalize;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  background-color: #E3E3E3;
  transition: 0.2s ease;
}

.product__size-input:checked + .product__size-label {
  border: 1px solid #000000;
  background-color: #FAFAF8;
}

.product__size-input:disabled + .product__size-label {
  background-color: #E3E3E3;
  cursor: not-allowed;
  position: relative;
}


.product__size-input:disabled + .product__size-label::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 140%;
  height: 2px;
  background-color: #FFFFFF;
  transform: rotate(-45deg);
  transform-origin: top right;
  pointer-events: none;
}

.product__purchase {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.product__purchase-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #605E5C;
  border-radius: 8px;
  gap: 16px;
  height: 50px;
  @media (min-width: 1000px) {
    min-width: 150px;
  }
}

.product__purchase-quantity-button {
  height: 16px;
  width: 16px;
  font-size: 21px;
  cursor: pointer;
  margin: 5px;
}

.product__purchase-quantity-button.inactive {
  opacity: 0.5;
}

.product__purchase-quantity-value {
  display: inline-block;
  text-align: center;
  font-variant-numeric: tabular-nums;
}


.product__purchase-button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #212322;
  border-radius: 6px;


  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}

/* METAFIELDS */
.metafields {
  display: flex;
  flex-direction: column;
  padding: 30px 16px;

  @media (min-width: 1000px) {
  padding: 32px 56px;
  padding-top: 40px;
  }
}

.metafields__item {
  display: flex;
  flex-direction: column;
}

.metafields__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px 14px 12px;  
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}

.metafields__title {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  color: #212322;
}

.metafields__toggle {
  transform: rotate(360deg);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.metafields__content {
  margin: 12px 24px;
  color: #605E5C;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.metafields__item.active .metafields__content {
  max-height: 500px;
}

.active .metafields__toggle {
  transform: rotate(270deg);
}

/* product-gallery */

.product-gallery {
  display: none;
  gap: 8px;
  
  @media (min-width: 1000px) {
    display: flex;
  }
}

.product-gallery__thumbnails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-gallery__thumbnail-item {
  height: 122px;
  cursor: pointer;
  width: 96px;
}

.product-gallery__thumbnail-item.active {
  border: 1px solid black
}

.product-gallery__main {
  flex: 1;
}

.product-gallery__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.product__data-sold {
  background: red;
  color: #000000;
  border-radius: 6px;
  padding: 5px;
  margin: 20px 0;
  text-align: center;
  text-decoration: uppercase;
  font-weight: 700;
}

