
.product__recommendations {
  display: grid;
  padding: 30px 16px;

  @media (min-width: 1000px) {
    padding: 60px 56px;
  }
}

.product__recommendations > *:nth-child(1) {
  margin-bottom: 2px;
}

.product__recommendations > *:nth-child(2) {
  margin-bottom: 24px;
}

.product__recommendations > *:nth-child(3) {
  margin-bottom: 24px;
}

.product__recommendations-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #212322;

  margin-bottom: 2px;
}

.product__recommendations-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.product__recommendations-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

}

.product__recommendations-toggle-text {
  padding: 6px 8px;
}

.product__recommendations-list {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

   scrollbar-width: none;
  -ms-overflow-style: none;

  /* для Chrome, Safari и др. WebKit-браузеров */
  
  @media (min-width: 1000px) {
    gap: 16px;
  }
}

.product__recommendations-list::-webkit-scrollbar {
  display: none;
}

.product-card {
  min-width: 164px;
  min-height: 268px;
  scroll-snap-align: start;
  cursor: pointer;
    
  @media (min-width: 1000px) {
    min-width: 320px;
    min-height: 476px;
  }
}

.product-card__link  {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.product-card__image-wrapper {
  position: relative;
  width: 100%;
  height: 218px;
  background-color: green;
  border-radius: 6px;

    
  @media (min-width: 1000px) {
    height: 420px;
  }
}

.product-card__badge {
  position: absolute;
  text-decoration: uppercase;
  left: 0;
  top: 10px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 2px 5.5px;
}

.product-card__image {
  width: 100%;
  height: 100%;
}

.product-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.product-card__title {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
}

.product-card__price {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.product-card__price-sale {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #9F1111;
}

.product-card__price-compare {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: line-through;
}

.product-card__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.product__recommendations-progress {
  width: 100%;
  height: 4px;
  appearance: none;
  margin-top: 1rem;
}
