.product {
  width: 100vw;
}

.product__slider {
  position: relative;
  width: 100vw;
}

.product__slider-slide {
  width: 100vw;
  height: auto;
  display: none;
}

.product__slider-slide.active {
  display: block;
}

.product__slider-slide img {
  width: 100vw;
  height: auto; 
  object-fit: cover;
  display: block;
}

.slider__arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}

.slider-arrow--prev {
  margin-left: 17px;
}

.slider-arrow--next {
  margin-right: 17px;
}

/* DOTS BELOW */

.slider__dots {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.slider__dot:hover {
  background-color: #999;
  transform: scale(1.2);
}

.slider__dot.active {
  background-color: #333;
}