.template-collection {
  padding: 30px 15.5px;
}

.template-collection__products {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);

  }
}